################################################################################
# Repo

.circleci/
.devcontainer/
.dockerignore
.git/
.github/
.gitignore
.vscode/
**.Dockerfile
**Dockerfile
site
.venv
venv
*.egg-info/
