# click downgrade due to https://github.com/mkdocs/mkdocs/issues/4032, higher version breaks mkdocs live preview. 
# Or use `mkdocs serve --livereload` instead.
click<=8.2.1
mike
mkdocs-autorefs
mkdocs-material==9.7.1
