/* For Sponsorship banner defined in overrides/main.html */

.md-banner__inner {
  text-align: center;
}

.md-banner {
  color:#333;
  background-color:#76CFE5;

  .sponsorship-banner {
    margin-right: 20px;
  }
  
  .sponsorship-banner-button {
    color:white;
    background:#333; 
    padding: 6px 17px; 
    border-radius: 4px; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 14px;

    &:hover {
      color: white;
    }
  }
}
