/* For Sponsorship banner defined in overrides/main.html */

.md-banner {
  display: none;
}

.sidebar-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  color: var(--sponsorship-banner-typeset-a-color);
  width: 12.1rem;
  background-color:#76CFE545;
  padding: 0.8rem;
  margin-bottom: 1rem;
  margin-left: 0.8rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21);
  border-radius: 0.8rem;
  border: 1px solid #76CFE5;

  .sponsorship-banner {
    font-size: 0.7rem;
    line-height: 1rem;

    h3 {
      margin: 0rem 0rem 0.5rem 0rem;
    }
  }
  
  .sponsorship-banner-button {
    color:white;
    background:#47c7ef;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 0.65rem;
    text-align: center;

    &:hover {
      color: white;
      background:#76CFE5;
      /* transform: translateY(-1px); */
    }
  }
}

/* Small screen <960px */
/* 959.75px = 59.984rem */
@media screen and (max-width: 59.9844em) {

  .md-banner__inner {
    text-align: center;
  }

  .md-banner {
    display: block;
    color:#333;
    background-color:#76CFE5;

    .sponsorship-banner {
      margin-right: 1rem;
      line-height: 1.9;
    }
    
    .sponsorship-banner-button {
      color:white;
      background:#333; 
      padding: 0.3rem 0.6rem;
      border-radius: 0.2rem; 
      text-decoration: none; 
      font-weight: bold; 
      font-size: 0.65rem;
      white-space: nowrap;

      &:hover {
        color: white;
      }
    }
  }
}
