
.md-typeset--with-watermark:before {
  background-image: url(../../assets/watermark.svg);
  background-repeat: no-repeat;
  background-position: center 60%;
  background-size: 20%;
  background-attachment: fixed;
  opacity: 0.05;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

[data-md-color-scheme="slate"] .md-typeset--with-watermark:before {
  filter: brightness(10);
}

/* Large screen sizes */
@media screen and (max-width: 76.2344rem) {
  .md-typeset--with-watermark:before {
    background-size: 30%;
  }
}

/* Medium screen sizes */
@media screen and (max-width: 59.984rem) {
  .md-typeset--with-watermark:before {
    background-size: 35%;
  }
}

/* Small screen sizes */
@media screen and (max-width: 42rem) {
  .md-typeset--with-watermark:before {
    background-size: 50%;
  }
}

/* Medium screens with reduced height */
@media screen and (min-width: 60rem) and (max-height: 739px) {
  .md-typeset--with-watermark:before {
    background-size: 10%;
  }
}

@media screen and (min-width: 60rem) and (min-height: 740px) and (max-height: 799px) {
  .md-typeset--with-watermark:before {
    background-size: 15%;
  }
}
