/* Overrides for the new sidebar */

.md-main{
  flex: 1 1 0;
}

.md-main__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}

.md-main__inner.md-grid {
  max-width: none;
}

.md-sidebar-primary-container{
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--md-sidebar-border-color);
  --md-default-bg-color: var(--md-sidebar-bg-color);
  background-color: var(--md-default-bg-color);
  --md-typeset-a-color: var(--md-sidebar-typeset-a-color);
}

.md-sidebar--primary{
  padding-top: 0;
}

.md-content{
  margin-top: 1.5rem;
  max-width: 40rem;
}

.md-sidebar--secondary{
  margin-top: 1.5rem;
}


/* 1219.75px = 76.2344rem */
@media screen and (max-width: 76.2344rem) {

  .md-nav--primary .md-nav__title ~ .md-nav__list {
    background-color: var(--md-sidebar-bg-color);
  }

  [dir="ltr"] .md-sidebar--primary {
    left: 0 !important;
    display: none;
  }

  [data-md-toggle="drawer"]:checked ~ .md-container .md-sidebar--primary {
    transform: none !important;
    width: 12.1rem;
    display: block;
  }

  /* To uncheck only the search overlay and leave the sidebar active */
  /* And use the search overlay instead */
  [data-md-toggle="drawer"]:checked ~ [data-md-toggle="search"]:checked ~ .md-overlay {
    pointer-events: none;
    opacity: 0;
  }
}


@media screen and (max-width: 59.9844em) {
  .md-nav__source {
    background-color: var(--nav-sidebar-source-bg-color);
  }
}
